/atomikos-db/target
/atomikos-db/.classpath
/atomikos-db/.project
/atomikos-db/.project~
/atomikos-db/.springBeans
/atomikos-db/.settings
/atomikos-db/atomikos
/best-db-db/.springBeans
/best-db-db/.classpath
/best-db-db/.project
/best-db-db/.project~
/best-db-db/.settings
/best-db-db/target
/best-jms-db/.project
/best-jms-db/.project~
/best-jms-db/.settings
/best-jms-db/target
/best-jms-db/.classpath
/shared-jms-db/.project~
/shared-jms-db/.settings
/shared-jms-db/target
/shared-jms-db/.classpath
/shared-jms-db/.project
